<div class="agregar__container">
    <form action="/admin/novedades/agregar" method="post" class="agregar__form" enctype="multipart/form-data">
        <h4 class="agregar__h4">Agregar una nueva novedad</h4>
        <div class="agregar__input">
            <input type="text" placeholder="Titulo" name="titulo" class="agregar__input2">
        </div>
        <div>
            <textarea type="text" name="subtitulo" placeholder="Subtitulo" class="agregar__input"></textarea>
        </div>
        <div>
            <textarea type="text" name="cuerpo" placeholder="Cuerpo" class="agregar__input"></textarea>
        </div>
        <div>
            <label>Imagen</label>
            <input type="file" name="imagen" id="imagen" class="agregar__input">
        </div>
        <button type="submit" class="agregar__button">Enviar</button>
    </form>
    {{#if error}}
        <p class="parrafo parrafo2">{{message}}</p>
    {{/if}}
</div>
